{% extends 'base.html'%}

{% block content %}

<h1> History </h1>

{% if weather_history %}
    <ul>
    {% for weather in weather_history %}
    <div class="card container-fluid">
        <div class="card-body">
            <h5 class="card-title">{{ weather.request.address_text }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ weather.request.request_date }}</h6>
            <h6 class="">{{ weather.currentTemp }}&#176;C</h6>
            <p class="card-text">{{ weather.maxTemp }}&#176;C / {{ weather.minTemp }}&#176;C</p>
          </div>
    </div>
    <br />
    {% endfor %}
    </ul>
{% else %}
    <p>No requests made yet</p>
{% endif %}

{% endblock %}
